.alekids_subtitle
	&_pink, &_blue
		h1, h2, h3, h4, h5, h6
			position: relative
			padding-top: 27px
			margin-bottom: 35px
			&::before
				content: ''
				+dem(100px, 5px)
				background-color: $pink-light
				border-radius: 10px
				position: absolute
				top: 0
				left: 0
	&_blue
		h1, h2, h3, h4, h5, h6
			&::before
				background-color: $blue
.alekids_video
	position: relative
	display: inline-block
	margin-top: 20px
	margin-left: 20px
	&:hover
		.mask
			animation: rotate_circle 20s linear infinite both
		.image_holder a.open_video
			opacity: 1
	.mask
		position: absolute
		top: -20px
		left: -20px
		border: 3px dashed $pink-light
		width: 100%
		height: 100%
		border-radius: 100%
		transition: $trs
	.image_holder
		position: relative
		display: flex
		align-items: center
		justify-content: center
		img
			border-radius: 100%
		a.open_video
			transition: $trs
			opacity: 0
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 100%
			display: flex
			align-items: center
			justify-content: center
			.opener
				display: flex
				+dem(100px)
				background-color: #fff
				border-radius: 100%
				align-items: inherit
				justify-content: inherit
				transition: $trs
				&:hover
					background-color: rgba(255, 255, 255, 0.5)
			.video_icon
				+dem(48px)
				background: url('../svg/video.svg') center center no-repeat
				display: block

.alekids_contact_box.counter_box
	&::before
		background: url('../svg/top-blue.svg') !important
	&::after
		background: url('../svg/bottom-blue.svg')
.alekids_timeline
	padding-bottom: 10px
	cursor: move
	cursor: -webkit-grab
	cursor: -moz-grab
	cursor: grab
	&:active
		cursor: -webkit-grabbing
		cursor: -moz-grabbing
		cursor: grabbing
	.slick-slide
		margin-left: 15px
	.slick-list
		margin-left: -15px
	.timeline_item
		width: calc( 25% - 15px )
		position: relative
		z-index: 0
		&:hover
			.alekids_mask
				top: 10px
				left: 10px
		.line_content
			background-color: #fefbf4
			padding: 22px
			box-sizing: border-box
			margin-right: 10px
			margin-bottom: 10px
		.alekids_mask
			position: absolute
			width: calc( 100% - 10px )
			height: calc( 100% - 10px )
			top: 5px
			left: 5px
			z-index: -1
			transition: $trs
		.alekids_year
			display: block
			font-weight: 900
			font-size: 72px
			line-height: 72px
			margin-bottom: 5px
		.alekids_title
			color: #304566
			font-size: 30px
			font-style: normal
			font-weight: 900
			line-height: 36px
