a.alekids_button
	color: #fff
	&:hover
		color: #fff
.alekids_button
	background-color: $blue
	border-radius: 30px
	color: #fff
	position: relative
	display: inline-block
	font-style: normal
	font-weight: 900
	font-size: 18px
	padding: 18px 40px
	transition: $trs
	&:hover
		background-color: $pink-light
		color: #fff

		.alekids_dashed
			animation-play-state: running
	.container
		display: flex
		align-items: center
		justify-content: center
		margin: auto
	.alekids_dashed
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		stroke-width: 2
		stroke-dasharray: 6, 6
		stroke-dashoffset: 0
		stroke-linecap: round
		fill: none
		stroke: #fff
		animation: dashed_moving 20s linear infinite both
		animation-play-state: paused

@keyframes dashed_moving
	100%
		stroke-dashoffset: -1000

.alekids_socialbox
	position: relative
	z-index: 0
	background-color: $blue
	padding: 40px
	color: #fff
	border-radius: 30px
	&:hover
		.alekids_socialbox_dashed
			animation-play-state: running
	.social_content
		display: flex
		align-items: center
		justify-content: flex-start
		.image_holder
			margin-right: 15px
			min-width: 64px
		.text_holder
			h6
				color: inherit
				font-weight: 900
				font-size: 20px
				margin-bottom: 5px
			p
				color: inherit
				margin-bottom: 0
				font-size: 18px
				line-height: 24px

.alekids_counter
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	.icon_counter
		+dem(80px)
		display: block
		&.icon_one
			background: url('../svg/counter-1.svg')
		&.icon_two
			background: url('../svg/counter-2.svg')
		&.icon_three
			background: url('../svg/counter-3.svg')
		&.icon_four
			background: url('../svg/counter-4.svg')
	.image_container
		width: 100%
		min-height: 80px
		margin-bottom: 30px
		display: flex
		align-items: center
		justify-content: center
.alekids_text_color
	width: 100%
	text-align: center
	display: block
	margin-bottom: 20px
	font-weight: 900
	font-size: 22px
	line-height: 22px
	color: #7d7d7d
.alekids_number
	visibility: hidden
.alekids_number_color
	width: 100%
	text-align: center
	display: block
	font-weight: 900
	font-size: 50px
	line-height: 50px
	color: $yellow-light

	/* Preloader */

.alekids_preloader_content
	display: flex
	align-items: center
	justify-content: center
	height: 100vh
	width: 100vw
	background-color: #f5f1e9
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 99999
	.alekids_content
		width: 300px
		height: 300px
		position: relative
		display: flex
		justify-content: center
		align-items: center

		.planet
			width: 65%
			height: 65%
			background-color: $blue
			border-radius: 100%
			position: absolute
			display: flex
			align-items: center
			transform-origin: center center
			box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1)
			animation: alekids_planet 5s ease infinite alternate

				/* planet ring */
			.ring
				position: absolute
				width: 300px
				height: 300px
				border-radius: 100%
				background-color: $yellow-light
				display: flex
				align-items: center
				justify-content: center
				transform-origin: 33% center
				box-shadow: 2px -10px 0px rgba(0, 0, 0, 0.05), inset -5px -10px 0px rgba(0, 0, 0, 0.05)
				animation: alekids_ring 3s ease infinite

					/* small ball */
				&:before
					content: ""
					position: absolute
					width: 10px
					height: 30px
					border-radius: 100%
					background-color: $pink-light
					z-index: 2
					left: calc(0px - 5px)
					box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.2)

				/* inner ring */
				&:after
					content: ""
					position: absolute
					width: 240px
					height: 240px
					border-radius: 100%
					background-color: $pink-light
					box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1)

			/* to cover the back of the ring */
			.cover-ring
				position: absolute
				width: 100%
				height: 50%
				border-bottom-left-radius: 80%
				border-bottom-right-radius: 80%
				border-top-left-radius: 100px
				border-top-right-radius: 100px
				transform: translate(0px, -17px)
				background-color: $blue
				z-index: 2
				box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1)

			/* planet spots */
			.spots
				width: 100%
				height: 100%
				display: flex
				align-items: center
				justify-content: center
				position: absolute
				z-index: 2

				span
					width: 30px
					height: 30px
					background-color: #7292de
					position: absolute
					border-radius: 100%
					box-shadow: inset -2px 3px 0px rgba(0, 0, 0, 0.3)
					animation: alekids_dots 5s ease infinite alternate
					&:nth-child(1)
						top: 25px
						right: 55px

					&:nth-child(2)
						top: 35px
						left: 45px
						width: 17px
						height: 17px

					&:nth-child(3)
						top: 73px
						left: 21px
						width: 24px
						height: 24px

					&:nth-child(4)
						top: 83px
						left: 91px
						width: 39px
						height: 39px

					&:nth-child(5)
						top: 163px
						left: 77px
						width: 16px
						height: 16px

					&:nth-child(6)
						top: 160px
						left: 125px
						width: 11px
						height: 11px

					&:nth-child(7)
						top: 91px
						left: 151px
						width: 16px
						height: 16px

		p
			color: $blue-dark
			font-size: 18px
			z-index: 2
			position: absolute
			bottom: -40px
			animation: alekids_text 4s ease infinite
			width: 100px
			text-align: center

@keyframes alekids_dots
	0%
		box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3)

	100%
		box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3)

@keyframes alekids_ring
	0%
		transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px)

	100%
		transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px)

@keyframes alekids_planet
	0%
		transform: rotate(10deg)
	100%
		transform: rotate(-10deg)

@keyframes alekids_text
	0%
		transform: translateX(-30px)
		letter-spacing: 0px
		color: $m-04

	25%
		letter-spacing: 3px
		color: $blue-dark

	50%
		transform: translateX(30px)
		letter-spacing: 0px
		color: $m-04

	75%
		letter-spacing: 3px
		color: $blue-dark

	100%
		transform: translateX(-30px)
		letter-spacing: 0px
		color: $m-04
