@import "normalize.css";
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.66666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.66666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333%;
}

.col-11 {
  width: 91.66666667%;
}

.col-12 {
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio[controls],
canvas,
video {
  display: inline-block;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}

:focus {
  outline: 0;
}

iframe {
  max-width: 100%;
}

img {
  vertical-align: middle;
  outline: 0;
  border: 0;
}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner {
  border: none;
}

html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}

body {
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
}

.e-con-boxed.alekids_align_center {
  text-align: center;
}

.e-con-boxed.alekids_align_left {
  text-align: left;
}

.e-con-boxed.alekids_align_right {
  text-align: right;
}

.alignnone {
  margin: 0;
}

.aligncenter,
div.aligncenter {
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fefbf4;
  width: auto;
  max-width: 99%;
  padding: 0;
  text-align: center;
  display: block;
  background-color: transparent;
  margin-bottom: 20px;
}
.wp-caption.alignnone {
  margin: 0;
  margin-bottom: 20px;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 5px;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

button,
input[type=button],
input[type=reset],
input[type=submit],
.wp-block-search .wp-block-search__button {
  cursor: pointer;
  min-height: 50px;
  -webkit-appearance: button;
  background-color: #b3d0fd;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  padding: 0 25px;
  letter-spacing: 1px;
  border-radius: 30px;
  border: 0;
}

.story .wp-block-latest-comments {
  margin: 0;
  margin-left: 40px;
}
.story .wp-block-latest-comments.has-avatars {
  margin-left: 0;
}
.story .wp-block-latest-comments a {
  color: #ffa1ac;
}
.story .wp-block-latest-comments li {
  margin-bottom: 20px;
  background-color: #fefbf4;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}
.story .wp-block-latest-comments li p:last-child {
  margin-bottom: 0;
}
.story .wp-block-latest-comments li .wp-block-latest-comments__comment-date {
  float: right;
}

.wp-block-verse {
  margin-bottom: 40px;
}

.wp-block-group.has-background {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wp-block-group.has-background .wp-block-group__inner-container p:last-child {
  margin-bottom: 0;
}

.wp-block-search__inside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wp-block-search__inside-wrapper .wp-block-search__input {
  margin-bottom: 0;
  margin-right: 5px;
  height: 50px;
  border-color: #b3d0fd;
  border-radius: 30px;
}

.wp-block-search__label {
  display: block;
  margin-bottom: 10px;
  color: #304566;
  font-weight: 900;
}

.alekids_contact_form .alekids_button, .cart .alekids_button {
  position: relative;
  z-index: 0;
  padding: 0 !important;
  min-height: 60px;
  min-width: 207px;
}
.alekids_contact_form .alekids_button svg, .cart .alekids_button svg {
  z-index: -1;
}
.alekids_contact_form .alekids_button button,
.alekids_contact_form .alekids_button input[type=button],
.alekids_contact_form .alekids_button input[type=reset],
.alekids_contact_form .alekids_button input[type=submit], .cart .alekids_button button,
.cart .alekids_button input[type=button],
.cart .alekids_button input[type=reset],
.cart .alekids_button input[type=submit] {
  border-radius: 0;
  padding: 18px 40px;
  min-height: unset;
  height: unset;
  background-color: transparent;
  min-width: 130px;
}
.alekids_contact_form .alekids_button button:hover,
.alekids_contact_form .alekids_button input[type=button]:hover,
.alekids_contact_form .alekids_button input[type=reset]:hover,
.alekids_contact_form .alekids_button input[type=submit]:hover, .cart .alekids_button button:hover,
.cart .alekids_button input[type=button]:hover,
.cart .alekids_button input[type=reset]:hover,
.cart .alekids_button input[type=submit]:hover {
  background-color: transparent;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: #fefbf4;
}

.alekids_contact_form .alekids_button {
  min-width: 146px;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color: #ffd3bd;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

input[type=text],
input[type=email],
input[type=phone],
input[type=url],
input[type=search],
input[type=password],
textarea {
  border: 1px solid #fefbf4;
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 40px;
  padding: 0 25px;
  color: #7d7d7d;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}
input[type=text].placeholder,
input[type=email].placeholder,
input[type=phone].placeholder,
input[type=url].placeholder,
input[type=search].placeholder,
input[type=password].placeholder,
textarea.placeholder {
  color: #c4c4c4;
}
input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=phone]:-moz-placeholder,
input[type=url]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=password]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c4c4c4;
}
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=phone]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=password]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c4c4c4;
}
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=phone]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c4c4c4;
}
input[type=text]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=phone]::-ms-input-placeholder,
input[type=url]::-ms-input-placeholder,
input[type=search]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #c4c4c4;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=phone]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: #94edca;
}

textarea {
  resize: none;
  height: 140px;
  padding-top: 15px;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.clear {
  clear: both;
}

p {
  margin: 0 0 2.2em 0;
  text-align: left;
  line-height: inherit;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.small {
  font-size: 10px;
}

hr {
  display: block;
  height: 0px;
  line-height: 0px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 16px 0;
  float: none;
  clear: both;
  padding: 0;
}

.story {
  line-height: 1.5;
}
.story .post-password-form {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  background-color: #fefbf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}
.story .post-password-form input[type=password] {
  margin-top: 20px;
}
.story .post-password-form p {
  text-align: center;
}
.story .wp-block-search {
  margin-bottom: 40px;
}
.story .wp-block-image {
  margin-bottom: 2em;
}
.story .wp-block-image figure {
  display: table !important;
}
.story .wp-block-image figcaption {
  color: #304566;
  font-size: 16px;
  margin: 0;
  background: #fefbf4;
  padding: 15px;
}
.story .wp-block-image figcaption a {
  text-decoration: underline;
}
.story ul {
  list-style: none;
}
.story ul li strong {
  color: #304566;
  font-size: 22px;
  line-height: 44px;
}
.story ul li:before {
  content: "";
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 0.1rem;
  margin-right: 15px;
}
.story ul li:nth-child(odd)::before {
  background-image: url("../svg/liodd.svg");
}
.story ul li:nth-child(even)::before {
  background-image: url("../svg/lieven.svg");
}
.story ol {
  list-style: decimal;
}
.story ol li {
  list-style: decimal;
}
.story ol ol {
  list-style: upper-alpha;
}
.story ol ol ol {
  list-style: lower-roman;
}
.story ol ol ol ol {
  list-style: lower-alpha;
}
.story ul, .story ol {
  margin-left: 60px;
  line-height: 40px;
  font-size: inherit;
  margin-bottom: 2.2em;
}
.story pre {
  background: #fefbf4;
  padding: 20px;
  display: block;
  margin: 10px 15px 10px 0;
  overflow-x: auto;
  font-family: "Lucida Console", Monaco, monospace;
}
.story address {
  display: inline-block;
  padding: 20px;
  background: #eaeaea;
  line-height: 20px;
  margin-bottom: 15px;
}
.story abbr {
  text-transform: uppercase;
}
.story dl {
  font-size: inherit;
  background: #ffffff;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.story dl dt {
  min-width: 180px;
  float: left;
  font-size: inherit;
  line-height: inherit;
  color: #304566;
  font-weight: bold;
  letter-spacing: 0.005em;
  margin-bottom: 20px;
}
.story dl dd {
  margin-left: 160px;
  margin-bottom: 20px;
  line-height: inherit;
}
.story code {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fefbf4;
  display: inline-block;
  border: 2px dashed #ffd3bd;
}
.story .wp-block-cover {
  margin-bottom: 2em;
}
.story .wp-block-cover.aligncenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.story .wp-block-cover-text {
  color: #ffffff;
  text-align: left;
}
.story .wp-block-button {
  margin-bottom: 20px;
}
.story .wp-block-cover-text strong {
  color: inherit;
}
.story .wp-block-button__link {
  color: #fff;
}
.story .wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}
.story .wp-block-gallery .blocks-gallery-caption {
  margin-bottom: 2.2em;
}
.story .wp-block-gallery ul, .story .wp-block-gallery li {
  margin: 0;
  list-style: none !important;
}
.story .wp-block-gallery ul {
  margin-bottom: 2em;
}
.story .wp-block-gallery li {
  padding: 0;
  margin-bottom: 1em;
  margin-right: 1em;
}
.story .wp-block-gallery li::before {
  display: none;
}
.story .blocks-gallery-grid .blocks-gallery-image figcaption, .story .wp-block-gallery .blocks-gallery-item figcaption {
  line-height: 1.2em;
}
.story .wp-block-media-text {
  margin-bottom: 2.2em;
}
.story .wp-caption {
  line-height: 1.5;
  margin-bottom: 2em;
  text-align: center;
}
.story .wp-caption.alignnone {
  clear: both;
}
.story .wp-caption img {
  font-size: 10px;
}
.story .wp-caption p.wp-caption-text {
  color: #304566;
  font-size: inherit;
  line-height: inherit;
  padding: 10px;
  margin: 0;
}
.story .wp-caption p.wp-caption-text a {
  text-decoration: underline;
}
.story .wp-smiley {
  margin: 0;
}
.story table {
  margin-bottom: 30px;
  border-collapse: collapse;
}
.story table a {
  text-decoration: underline !important;
}
.story table a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  text-decoration: none !important;
}
.story table th {
  color: #304566;
  background-color: #fefbf4;
}
.story table caption {
  background-color: #b3d0fd;
  color: #fff;
  font-weight: 700;
  padding: 7px 0;
}
.story table a {
  -webkit-text-decoration: underline !important #000;
          text-decoration: underline !important #000;
}
.story table td, .story table th {
  padding: 10px 15px;
  border: 1px solid #fefbf4;
}
.story .tagsphar {
  clear: both;
}
.story span.post-page-numbers.current {
  background-color: #ffa1ac;
  color: #FFF;
}

.story ul ul,
.story ol ul,
.story ul ol,
.story ol ol {
  margin-bottom: 0;
}

.story h1,
.story h2,
.story h3,
.story h4,
.story h5,
.story h6 {
  text-transform: none;
  margin-bottom: 20px;
}

.story a:link,
.story a:visited,
.story a:hover,
.story a:active {
  text-decoration: none;
}

.story a {
  color: inherit;
}

.story img.size-auto,
.story img.size-full,
.story img.size-large,
.story img.size-medium,
.story .attachment img {
  max-width: 100%;
  height: auto;
}

.story .alignleft,
.story img.alignleft {
  float: left;
  margin-right: 2em;
}

.story .alignright,
.story img.alignright {
  float: right;
  margin-left: 2em;
}

.story .aligncenter,
.story img.aligncenter {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.story .wp-block-cover-image .wp-block-subhead:not(.has-text-color),
.story .wp-block-cover-image h1:not(.has-text-color),
.story .wp-block-cover-image h2:not(.has-text-color),
.story .wp-block-cover-image h3:not(.has-text-color),
.story .wp-block-cover-image h4:not(.has-text-color),
.story .wp-block-cover-image h5:not(.has-text-color),
.story .wp-block-cover-image h6:not(.has-text-color),
.story .wp-block-cover-image p:not(.has-text-color),
.story .wp-block-cover .wp-block-subhead:not(.has-text-color),
.story .wp-block-cover h1:not(.has-text-color),
.story .wp-block-cover h2:not(.has-text-color),
.story .wp-block-cover h3:not(.has-text-color),
.story .wp-block-cover h4:not(.has-text-color),
.story .wp-block-cover h5:not(.has-text-color),
.story .wp-block-cover h6:not(.has-text-color),
.story .wp-block-cover p:not(.has-text-color) {
  color: #FFF;
}

.story img.alignleft,
.story img.alignright,
.story img.aligncenter {
  margin-bottom: 2em;
}

.story table,
.story table th {
  padding: 20px 25px;
  border: 1px solid #f2f2f2;
}

.story .tagsphar a,
.story .post_pages a,
.story span.post-page-numbers,
.wp-block-tag-cloud a {
  background-color: #b3d0fd;
  color: #fff;
  border-radius: 30px;
  height: 40px;
  font-weight: 900;
  font-size: 16px !important;
  line-height: 40px;
  padding: 0 25px;
  display: inline-block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;
}

.story .tagsphar a:hover,
.story .post_pages a:hover,
.story span.post-page-numbers:hover,
.wp-block-tag-cloud a:hover {
  background-color: #ffa1ac;
  color: #FFF;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.story img {
  max-width: 100%;
  height: auto;
}
.story .gallery dl.gallery-item {
  border: none;
}
.story .gallery dl.gallery-item dt {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  min-width: unset;
}
.story .gallery dl.gallery-item dd {
  margin: 0;
  width: 100%;
}

.page-template .comments {
  margin-top: 60px;
}

.post_pages {
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border-color: #f2f2f2;
  border-bottom-width: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 44px;
  color: #898989;
  font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 44px;
}

.select2-dropdown {
  border-radius: 0;
  border-color: #f2f2f2;
}

.select2-container .select2-selection--single {
  height: 44px;
}

.flexslider {
  position: relative;
}
.flexslider .slides > li {
  position: relative;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.flexslider .slides img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.flexslider .descr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(100, 100, 100, 0.5);
  color: #fff;
  text-align: left;
}
.flexslider .descr h3 {
  text-align: left;
}
.flexslider .descr .text p:last-child {
  margin-bottom: 0;
}
.flexslider .flex-control-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.flexslider .flex-control-nav li {
  display: inline-block;
  margin: 5px;
}
.flexslider .flex-control-nav li a {
  font-size: 0;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #c3c4c4;
}
.flexslider .flex-control-nav li a.flex-active {
  background-color: #c3c4c4;
}

.flexslider ul,
.flexslider ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexslider ul li,
.flexslider ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-container {
  position: relative;
}

.wrapper {
  width: 100% !important;
  max-width: 1180px !important;
  margin-top: 0;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 0;
}

.alekids_images_grid_dashed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke-width: 3;
  stroke-dasharray: 7, 7;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  fill: #fff;
  -webkit-animation: dashed_moving 20s linear infinite both;
          animation: dashed_moving 20s linear infinite both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.alekids_socialbox_dashed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke-width: 3;
  stroke-dasharray: 7, 7;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  fill: transparent;
  stroke: #fff;
  -webkit-animation: dashed_moving 20s linear infinite both;
          animation: dashed_moving 20s linear infinite both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  z-index: -1;
}

.alekids_testimonial_dashed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke-width: 2;
  stroke-dasharray: 7, 7;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  fill: transparent;
  stroke: #ffd3bd;
  -webkit-animation: dashed_moving 20s linear infinite both;
          animation: dashed_moving 20s linear infinite both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.alekids_align_center {
  text-align: center;
}

strong {
  color: #ffa1ac;
}

blockquote {
  padding-left: 120px;
  position: relative;
  min-height: 90px;
  margin-bottom: 2.2em;
  color: #304566;
  font-weight: 700;
  margin-left: 30px;
}
blockquote.has-text-align-right {
  text-align: right;
}
blockquote.has-text-align-right p {
  text-align: right;
}
blockquote.wp-block-quote p, blockquote.wp-block-pullquote p {
  margin-bottom: 0;
}
blockquote cite {
  display: block;
  color: #7d7d7d;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin-top: 5px;
}
blockquote::after {
  content: "";
  width: 90px;
  height: 90px;
  display: block;
  background: url("../svg/cite.svg") center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

p.has-drop-cap {
  display: inline-block;
}

ul .sub-menu {
  margin-left: 10px;
  font-weight: 700;
  color: #304566;
}

.alekids_overflow {
  overflow: hidden;
}

.info_phone {
  display: block;
}

.alekids_contact .success {
  text-align: center;
  color: #94edca;
}
.alekids_contact .error {
  text-align: center;
  color: #ffa1ac;
}

.alekids_contact_form .form_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.alekids_contact_form .form_line.submit_line {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}
.alekids_contact_form input[type=text],
.alekids_contact_form input[type=email],
.alekids_contact_form input[type=phone],
.alekids_contact_form input[type=url],
.alekids_contact_form input[type=search],
.alekids_contact_form input[type=password] {
  height: 50px;
  line-height: 50px;
  width: calc(33.333333% - 13.333333px);
  margin-bottom: 0;
}
.alekids_contact_form textarea {
  margin-bottom: 0;
}

.alekids_socialbox a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.alekids_socialbox a:hover {
  color: inherit;
  opacity: 0.7;
}

section.not-found {
  width: 100% !important;
  margin-bottom: 100px !important;
}
section.not-found p {
  text-align: center;
  margin-bottom: 0 !important;
}

.bottom_separator {
  width: 100%;
  margin-bottom: 60px;
}

.not_found_page {
  text-align: center;
  margin-bottom: 100px !important;
}
.not_found_page h2, .not_found_page p {
  text-align: center;
  margin-bottom: 50px;
}
.not_found_page h2 {
  font-size: 80px;
}

.attachment_page {
  text-align: center;
  margin-bottom: 100px !important;
}
.attachment_page h1 {
  font-size: 80px;
}
.attachment_page p.attachment {
  text-align: center;
}

select {
  font-size: 18px;
  color: #7d7d7d;
  border: 2px dashed #ffd3bd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  min-height: 28px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../svg/select.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
  max-width: 100%;
  padding: 10px 20px;
}

.woocommerce a.button {
  border-radius: 30px;
  background-color: #ffbebe;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.woocommerce .alekids_shop_archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.woocommerce .shop_content {
  width: calc(75% - 10px);
}
.woocommerce .shop_content .alekids_pagination {
  margin-top: 80px;
}
.woocommerce aside.sidebar {
  width: calc(25% - 30px);
}
.woocommerce aside.sidebar .alekids_search {
  background-color: #fff8b8;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
  padding-right: 6px;
}
.woocommerce aside.sidebar .alekids_search input.searchinput {
  height: 30px;
  background-color: transparent;
  border: none;
  width: calc(100% - 40px);
  margin-bottom: 0;
  padding-left: 0;
  color: #304566;
  font-size: 16px;
}
.woocommerce aside.sidebar .alekids_search input.searchinput.placeholder {
  color: #304566;
}
.woocommerce aside.sidebar .alekids_search input.searchinput:-moz-placeholder {
  color: #304566;
}
.woocommerce aside.sidebar .alekids_search input.searchinput::-moz-placeholder {
  color: #304566;
}
.woocommerce aside.sidebar .alekids_search input.searchinput::-webkit-input-placeholder {
  color: #304566;
}
.woocommerce aside.sidebar .alekids_search input.searchinput::-ms-input-placeholder {
  color: #304566;
}
.woocommerce .top_shop_archive {
  margin-bottom: 40px;
  border-radius: 30px;
  background-color: #fefbf4;
  padding: 0 25px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
  margin-bottom: 0;
  float: none;
}
.woocommerce select {
  font-size: 18px;
  color: #7d7d7d;
  border: none;
  background: transparent;
  min-height: 28px;
  line-height: 28px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../svg/select.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 97%;
  min-width: 235px;
  padding-right: 38px;
}
.woocommerce .woocommerce-notices-wrapper .woocommerce-message {
  margin-bottom: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fefbf4;
  border-top-color: #94edca;
}
.woocommerce .woocommerce-notices-wrapper .woocommerce-message::before {
  color: #94edca;
}
.woocommerce .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.woocommerce .products.columns-2 .product {
  width: calc(50% - 10px);
}
.woocommerce .products.columns-3 .product {
  width: calc(33.33333% - 13.33333px);
}
.woocommerce .products.columns-3 .product img {
  max-height: 235px;
  width: auto;
}
.woocommerce .products.columns-4 .product {
  width: calc(25% - 15px);
}
.woocommerce .products.columns-4 .product img {
  max-height: 235px;
  width: auto;
}
.woocommerce .products .product {
  width: 100%;
  margin-bottom: 20px;
}
.woocommerce .products .product .product_item_holder {
  position: relative;
  background-color: #fefbf4;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.woocommerce .products .product .product_item_holder:hover .hover_content {
  left: 0;
}
.woocommerce .products .product .product_item_holder .hover_content {
  background-color: #ffbebe;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.woocommerce .products .product .product_item_holder .hover_content a {
  color: inherit;
}
.woocommerce .products .product .product_item_holder .hover_content a:hover {
  color: #fff8b8;
}
.woocommerce .products .product .product_item_holder .hover_content a.button {
  background-color: #fff;
  color: #ffbebe;
}
.woocommerce .products .product .product_item_holder .hover_content a.button.loading::after {
  top: 0;
}
.woocommerce .products .product .product_item_holder .hover_content a.button:hover {
  background-color: #fff8b8;
}
.woocommerce .products .product .product_item_holder .hover_content .added_to_cart {
  font-size: 14px;
  display: block;
}
.woocommerce .products .product .product_item_holder .hover_content h2 {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 15px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.woocommerce .products .product .product_item_holder .hover_content h2:hover {
  color: #fff8b8;
}
.woocommerce .products .product .product_item_holder .hover_content span.price {
  display: block;
  margin-bottom: 20px;
}
.woocommerce .products .product .product_item_holder .hover_content span.price del {
  color: #fff;
  opacity: 1;
}
.woocommerce .products .product .product_item_holder .hover_content span.price del .amount {
  color: #fff;
}
.woocommerce .products .product .product_item_holder .hover_content span.price .amount {
  color: #fff8b8;
}
.woocommerce .products .product .product_item_holder .hover_content .woo_excerpt {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 0;
  position: relative;
}
.woocommerce .products .product .product_item_holder .hover_content .woo_excerpt::before {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
  background: url(../svg/hover-shop.svg) center center repeat-x;
}
.woocommerce .products .product .product_item_holder .hover_content .woo_excerpt::after {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  background: url(../svg/hover-shop.svg) center center repeat-x;
}
.woocommerce .products .product .product_item_holder .hover_content .woo_excerpt p {
  margin-bottom: 0;
  text-align: center;
}
.woocommerce .products .product img {
  margin-bottom: 17px;
}
.woocommerce .products .product h2.woocommerce-loop-product__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}
.woocommerce .products .product .price {
  font-size: 0;
}
.woocommerce .products .product .price .amount {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  color: #ffa1ac;
}
.woocommerce .products .product .price ins {
  text-decoration: none;
  font-weight: 900;
}
.woocommerce .products .product .price del {
  color: #c4c4c4;
}
.woocommerce .products .product .price del .amount {
  opacity: 1;
  color: #c4c4c4;
  font-size: 20px;
}
.woocommerce span.onsale {
  border: 10px solid #fff;
  background-color: #b3d0fd;
  width: 72px;
  height: 72px;
  padding: 0;
  line-height: 72px;
  font-weight: 900;
  font-size: 18px;
  top: -30px;
  left: 50%;
  margin-left: -46px;
  text-transform: uppercase;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.woocommerce .alekids_shop_single div.product.product-type-variable p.price, .woocommerce .alekids_shop_single div.product.product-type-grouped p.price {
  font-size: 30px !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  background-color: #ffd3bd;
  border-radius: 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs::before {
  display: none;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: #fff;
  border-radius: unset;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li.active a svg {
  opacity: 1;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li:hover a svg {
  opacity: 1;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li a {
  color: inherit;
  padding: 18px 40px;
  font-weight: 900;
  display: inline-block;
  background-color: transparent;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li a svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li a:hover {
  color: inherit;
  background-color: transparent;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li::before, .woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li::after {
  display: none;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs ul.tabs li.active {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: #fff;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs .woocommerce-Tabs-panel {
  margin-left: 40px;
  margin-right: 40px;
  border: 2px dashed #ffd3bd;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: 0;
  margin-bottom: 100px;
}
.woocommerce .alekids_shop_single div.product .woocommerce-tabs .woocommerce-Tabs-panel p:last-child, .woocommerce .alekids_shop_single div.product .woocommerce-tabs .woocommerce-Tabs-panel table {
  margin-bottom: 0;
}
.woocommerce .alekids_shop_single div.product .top_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content p.price {
  font-size: 50px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 100%;
  background-color: #b3d0fd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-box-ordinal-group: -4;
      -ms-flex-order: -5;
          order: -5;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content p.price del {
  font-size: 18px;
  margin-bottom: 5px;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content p.price ins {
  text-decoration: none;
  font-weight: 900;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content h1.product_title {
  width: calc(100% - 150px);
  font-weight: 900;
  font-size: 40px;
  line-height: 46px;
  padding-top: 27px;
  position: relative;
  margin-bottom: 45px;
  -webkit-box-ordinal-group: -3;
      -ms-flex-order: -4;
          order: -4;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content h1.product_title::before {
  width: 100px;
  height: 5px;
  background-color: #ffd3bd;
  border-radius: 10px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-details_short-description {
  width: 100%;
  margin-bottom: 40px;
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-details_short-description p:last-child {
  margin-bottom: 0;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .product_meta {
  width: 100%;
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  margin-bottom: 50px;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .product_meta > span {
  display: block;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 38px;
  color: #304566;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .product_meta > span span, .woocommerce .alekids_shop_single div.product .top_product .left_content .product_meta > span a {
  font-weight: 700;
  color: #ffa1ac;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .product_meta > span a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .product_meta > span a:hover {
  color: #b3d0fd;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-rating {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-rating .label {
  font-weight: 900;
  font-size: 18px;
  line-height: 38px;
  color: #304566;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-rating .woocommerce-review-link {
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-rating .woocommerce-review-link:hover {
  color: #b3d0fd;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-rating .star-rating {
  margin: 0 0 0 10px;
  font-size: 0.9em;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-rating .star-rating::before {
  color: #ffa1ac;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content .woocommerce-product-rating .star-rating span {
  color: #ffa1ac;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart {
  width: 100%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .woocommerce-grouped-product-list .item_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .woocommerce-grouped-product-list .item_holder .form_wrapper {
  margin-bottom: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .woocommerce-grouped-product-list .item_holder .form_wrapper .woocommerce-grouped-product-list-item__label {
  width: 100%;
  font-weight: 900;
  color: #fff;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .woocommerce-grouped-product-list .item_holder .form_wrapper .woocommerce-grouped-product-list-item__label a {
  color: inherit;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .woocommerce-grouped-product-list .item_holder .form_wrapper .woocommerce-grouped-product-list-item__label a:hover {
  opacity: 0.7;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .woocommerce-grouped-product-list .item_holder .form_wrapper .woocommerce-grouped-product-list-item__price {
  font-weight: 900;
  color: #fff;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .woocommerce-variation-price {
  font-weight: 900 !important;
  font-size: 28px !important;
  color: #ffa1ac !important;
  margin-bottom: 20px;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .woocommerce-variation-price span.price {
  font-size: inherit;
  color: inherit;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .form_wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #b3d0fd;
  border-radius: 40px;
  min-height: 70px;
  padding-right: 6px;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .form_wrapper .button {
  background-color: transparent;
  height: 60px;
  font-weight: 900;
  padding: unset;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .form_wrapper .quantity {
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .form_wrapper .quantity input.qty {
  width: 60px;
  border: 0;
  background: transparent;
  font-weight: 900;
  font-size: 28px;
  line-height: 38px;
  height: 38px;
  color: #fff;
  font-family: inherit;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form.cart .form_wrapper .quantity span {
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  color: #fff8b8;
  cursor: pointer;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form input::-webkit-outer-spin-button,
.woocommerce .alekids_shop_single div.product .top_product .left_content form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form input[type=number] {
  -moz-appearance: textfield;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content form select {
  max-width: 100%;
  min-width: 250px;
  border: 2px dashed #ffd3bd;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 700;
  color: #304566;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../svg/select.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}
.woocommerce .alekids_shop_single div.product .top_product .left_content, .woocommerce .alekids_shop_single div.product .top_product .right_content {
  width: calc(50% - 45px);
  float: none;
}
.woocommerce .alekids_shop_single div.product .top_product .right_content {
  background-color: #fefbf4;
  border-radius: 30px;
  padding: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.woocommerce .alekids_shop_single div.product .top_product .right_content span.onsale {
  top: 5px;
}
.woocommerce .alekids_shop_single div.product .top_product .right_content div.images {
  width: 100%;
  float: none;
  margin-bottom: 0;
}

.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th {
  background-color: #fefbf4;
}

.woocommerce table.shop_attributes th, .woocommerce table.shop_attributes td, .woocommerce table.shop_attributes {
  border-style: dashed !important;
}

.woocommerce .related.products {
  display: block;
  text-align: center;
  margin-bottom: 100px;
}
.woocommerce .related.products .product {
  margin-bottom: 0;
}
.woocommerce .related.products > h2 {
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  z-index: 0;
}
.woocommerce .related.products > h2::before {
  content: "";
  width: calc(100% + 20px);
  height: 20px;
  border-radius: 20px;
  display: block;
  position: absolute;
  top: 100%;
  left: -10px;
  margin-top: -18px;
  background-color: #fff8b8;
  z-index: -1;
}
.woocommerce #reviews #comments {
  margin-bottom: 100px;
}
.woocommerce #reviews #comments h2.woocommerce-Reviews-title {
  margin-bottom: 35px;
  display: inline-block;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  position: relative;
  z-index: 0;
}
.woocommerce #reviews #comments h2.woocommerce-Reviews-title::before {
  content: "";
  width: calc(100% + 20px);
  height: 15px;
  border-radius: 20px;
  display: block;
  position: absolute;
  top: 100%;
  left: -10px;
  margin-top: -15px;
  background-color: #fff8b8;
  z-index: -1;
}
.woocommerce #reviews #comments li.review {
  list-style: none;
  background-color: #fefbf4 !important;
  border-radius: 30px;
  border: none;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.woocommerce #reviews #comments li.review .comment_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.woocommerce #reviews #comments li.review .comment_container img.avatar {
  position: relative;
  top: unset;
  left: unset;
  width: auto;
  height: auto;
  padding: 0;
  border-radius: 100%;
  border: 10px solid #fff8b8;
}
.woocommerce #reviews #comments li.review .comment_container .star-rating {
  font-size: 0.9em;
  color: #ffa1ac;
}
.woocommerce #reviews #comments li.review .comment_container .star-rating::before {
  color: #ffa1ac;
}
.woocommerce #reviews #comments li.review .comment_container p.meta {
  font-size: 18px;
}
.woocommerce #reviews #comments li.review .comment_container .description p {
  line-height: 28px;
}
.woocommerce #reviews #comments li.review .comment_container .description p:last-child {
  margin-bottom: 0;
}
.woocommerce #reviews #comments li.review .comment_container .comment-text {
  border: 0;
  padding: 0;
  margin: 0;
  margin-left: 30px;
}
.woocommerce #review_form #respond {
  background-color: #fefbf4;
  border-radius: 30px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.woocommerce #review_form #respond .comment-form-cookies-consent {
  margin-bottom: 20px;
}
.woocommerce #review_form #respond .form-submit {
  margin-bottom: 0;
  margin-left: 125px;
}
.woocommerce #review_form #respond .comment-notes {
  margin-bottom: 30px;
}
.woocommerce #review_form #respond .comment-form-rating, .woocommerce #review_form #respond .comment-form-comment, .woocommerce #review_form #respond .comment-form-author, .woocommerce #review_form #respond .comment-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}
.woocommerce #review_form #respond .comment-form-rating input, .woocommerce #review_form #respond .comment-form-comment input, .woocommerce #review_form #respond .comment-form-author input, .woocommerce #review_form #respond .comment-form-email input {
  margin-bottom: 0;
}
.woocommerce #review_form #respond .comment-form-rating textarea, .woocommerce #review_form #respond .comment-form-comment textarea, .woocommerce #review_form #respond .comment-form-author textarea, .woocommerce #review_form #respond .comment-form-email textarea {
  height: 100px;
  margin-bottom: 0;
}
.woocommerce #review_form #respond .comment-form-rating p.stars, .woocommerce #review_form #respond .comment-form-comment p.stars, .woocommerce #review_form #respond .comment-form-author p.stars, .woocommerce #review_form #respond .comment-form-email p.stars {
  margin-bottom: 0;
  color: #ffa1ac;
}
.woocommerce #review_form #respond .comment-form-rating label, .woocommerce #review_form #respond .comment-form-comment label, .woocommerce #review_form #respond .comment-form-author label, .woocommerce #review_form #respond .comment-form-email label {
  color: #304566;
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
  display: block;
  white-space: nowrap;
  min-width: 115px;
}
.woocommerce #review_form #respond .comment-reply-title {
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  z-index: 0;
  color: #304566;
}
.woocommerce #review_form #respond .comment-reply-title::before {
  content: "";
  width: calc(100% + 20px);
  height: 20px;
  border-radius: 20px;
  display: block;
  position: absolute;
  top: 100%;
  left: -10px;
  margin-top: -18px;
  background-color: #fff8b8;
  z-index: -1;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button {
  background-color: #b3d0fd;
  border-radius: 30px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  padding: 0.618em 2em;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt {
  background-color: #b3d0fd;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover {
  color: #fff;
  background-color: #ffa1ac;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover {
  color: #fff;
  background-color: #ffa1ac;
}

.woocommerce div.product form.cart .variations {
  margin-bottom: 40px;
}
.woocommerce div.product form.cart .variations .item_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.woocommerce div.product form.cart .variations .item_line:not(:last-child) {
  margin-bottom: 20px;
}
.woocommerce div.product form.cart .variations .item_line .value {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.woocommerce div.product form.cart .variations .item_line .value a {
  color: #ffa1ac;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.woocommerce div.product form.cart .variations .item_line .value a:hover {
  color: #b3d0fd;
}
.woocommerce div.product form.cart .variations label {
  font-weight: 900;
  font-size: 18px;
  line-height: 38px;
  color: #304566;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  background-color: #fefbf4;
}

.woocommerce .shop_table .product-quantity .quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #b3d0fd;
  border-radius: 40px;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wc-block-product-top-rated ul, .wc-block-rating-filter ul, .widget_recently_viewed_products ul, .widget_products ul, .widget_shopping_cart ul, .widget_rating_filter ul, .widget_top_rated_products ul {
  margin-left: 0;
}
.wc-block-product-top-rated ul li, .wc-block-rating-filter ul li, .widget_recently_viewed_products ul li, .widget_products ul li, .widget_shopping_cart ul li, .widget_rating_filter ul li, .widget_top_rated_products ul li {
  list-style: none !important;
}
.wc-block-product-top-rated ul li::before, .wc-block-rating-filter ul li::before, .widget_recently_viewed_products ul li::before, .widget_products ul li::before, .widget_shopping_cart ul li::before, .widget_rating_filter ul li::before, .widget_top_rated_products ul li::before {
  display: none !important;
}

.widget_price_filter .price_slider_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.widget_price_filter .price_slider_amount .button {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.widget_price_filter .price_slider {
  background-color: #b3d0fd !important;
  border-radius: 0 !important;
  height: 30px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px !important;
  margin-bottom: 15px !important;
  position: relative;
}
.widget_price_filter .price_slider::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 30px;
  background-color: #b3d0fd;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  left: -20px;
  top: 0;
}
.widget_price_filter .price_slider::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 30px;
  background-color: #b3d0fd;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  right: -20px;
  top: 0;
}
.widget_price_filter .price_slider .ui-slider-range {
  background-color: #fff8b8 !important;
  height: 6px !important;
  top: 12px !important;
}
.widget_price_filter .price_slider .ui-slider-handle {
  width: 15px !important;
  height: 15px !important;
  background-color: #7292de !important;
  border-radius: 100% !important;
  top: 7px !important;
}

.product_list_widget li, .wc-block-grid__products li, .widget_rating_filter li {
  border: 0;
  background: #fefbf4;
  padding: 20px !important;
  padding-bottom: 10px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 20px !important;
  font-weight: 900;
  color: #304566;
  font-size: 20px;
}
.product_list_widget li a, .wc-block-grid__products li a, .widget_rating_filter li a {
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
}
.product_list_widget li .product-title, .wc-block-grid__products li .product-title, .widget_rating_filter li .product-title {
  margin-bottom: 10px;
  display: block;
}
.product_list_widget li .amount, .wc-block-grid__products li .amount, .widget_rating_filter li .amount {
  color: #b3d0fd;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 10px;
}
.product_list_widget li del, .product_list_widget li bdi, .product_list_widget li ins, .wc-block-grid__products li del, .wc-block-grid__products li bdi, .wc-block-grid__products li ins, .widget_rating_filter li del, .widget_rating_filter li bdi, .widget_rating_filter li ins {
  color: #b3d0fd;
}
.product_list_widget li .star-rating, .wc-block-grid__products li .star-rating, .widget_rating_filter li .star-rating {
  margin-bottom: 10px;
  color: #ffa1ac;
  font-size: 0.6em;
}
.product_list_widget li .star-rating::before, .wc-block-grid__products li .star-rating::before, .widget_rating_filter li .star-rating::before {
  color: #ffa1ac;
}
.product_list_widget li .star-rating:hover, .wc-block-grid__products li .star-rating:hover, .widget_rating_filter li .star-rating:hover {
  opacity: 0.8;
}
.product_list_widget li img, .wc-block-grid__products li img, .widget_rating_filter li img {
  width: 60px !important;
  float: left !important;
  margin-right: 20px !important;
  margin-left: 0;
  padding-bottom: 10px;
}/*# sourceMappingURL=alekids_woocommerce.css.map */