// Colors

$blue: #b3d0fd
$blue-dark: #304566
$yellow-light: #fff8b8
$yellow-dark: #f5c956
$pink-light: #ffd3bd
$pink: #ffbebe
$pink-dark: #ffa1ac
$green: #94edca
$m-01: #3c4359
$m-02: #546c8c
$m-03: #7ea1bf
$m-04: #bacbd9
$m-05: #bf80a9

// Transition

$trs: all 0.3s ease-in-out
